<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clínica NPP</title>
    <link rel="icon" type="image/png" sizes="50x50" href="~/imagens/logo_aba.png">

    <!-- Principal CSS do Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min2.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="~/lib/bootstrap/dist/css/dashboard.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>

    <div class="container-fluid">
        <button class="menu-btn" id="menu-btn">☰</button> <!-- Botão de menu para dispositivos móveis -->
        <div class="row">
            <nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <!-- Imagem no topo da sidebar -->
                    <div class="text-center my-2">
                        <a href="/HomePage">
                            <img src="~/imagens/logo clinica.jpg" class="img-fluid" alt="Logo Clínica">
                        </a>
                    </div>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="cadastrosDropdown" data-toggle="collapse" data-target="#cadastrosMenu" aria-expanded="false" aria-controls="cadastrosMenu">
                                <img src="~/imagens/cadastros.png" width="24" height="24">
                                Cadastros
                            </a>
                            <div id="cadastrosMenu" class="collapse">
                                <ul class="nav flex-column ml-3">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaPaciente">
                                            Cadastro Do Paciente
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaProfissional">
                                            Cadastro Do Profissional
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaEspecialidade">
                                            Cadastro De Especialidade
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaUsuario">
                                            Cadastro Do Usuário
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="#" asp-page="#">
                                <img src="~/imagens/agenda.png" width="24" height="24">
                                Agenda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="financeiroDropdown" data-toggle="collapse" data-target="#financeiroMenu" aria-expanded="false" aria-controls="financeiroMenu">
                                <img src="~/imagens/financeiro.png" width="24" height="24">
                                Financeiro
                            </a>
                            <div id="financeiroMenu" class="collapse">
                                <ul class="nav flex-column ml-3">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/ContasReceber">
                                            Contas a Receber
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaContasPagar">
                                            Contas a Pagar
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaCondicao">
                                            Cadastro De Condição de Pagamento
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="#" asp-page="/PesquisaFormaPagamento">
                                            Cadastro da Forma de Pagamento
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="#" asp-page="#">
                                <img src="~/imagens/relatórios.png" width="24" height="24">
                                Relatórios
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="logout" href="#">
                                <img src="~/imagens/sair.png" width="24" height="24"> Sair
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
            <footer class="border-top footer text-muted col-md-9 ml-sm-auto col-lg-10 px-4">
            </footer>
        </div>
    </div>

    @*Mensagem de sair do sistema*@
    <div class="overlay" id="logout-overlay">
        <div class="confirmation-box">
            <p>Deseja realmente sair do sistema?</p>
            <button id="confirm-logout" class="btn btn-danger">Sair</button>
            <button id="cancel-logout" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        document.getElementById('menu-btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('open');
        });

        document.getElementById('logout').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('logout-overlay').style.display = 'flex';
        });

        document.getElementById('cancel-logout').addEventListener('click', function () {
            document.getElementById('logout-overlay').style.display = 'none';
        });

        document.getElementById('confirm-logout').addEventListener('click', function () {
            // Limpa o sessionStorage
            sessionStorage.clear();

            // Redireciona para a página de login
            window.location.href = "/Index";
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
