@page
@model www.Pages.BaixaContasPagarModel
@{
    ViewData["Title"] = "Baixa de Contas a Pagar";
}

<div class="row">
    <div class="col-12">
        <h1><center>Baixa de Contas a Pagar</center></h1>
    </div>

    <div class="col-6 form-group">
        <label for="nomeFornecedor">Fornecedor:</label>
        <input type="text" id="nomeFornecedor" class="form-control" readonly />
    </div>

    <div class="col-6 form-group">
        <label for="valorLancamento">Valor do Lançamento:</label>
        <input type="text" id="valorLancamento" class="form-control" readonly />
    </div>

    <div class="col-6 form-group">
        <label for="datapagamento">Data de Pagamento:</label>
        <input type="date" id="datapagamento" class="form-control" />
    </div>

    <div class="col-6 form-group">
        <label for="valordesconto">Valor Desconto:</label>
        <input type="number" id="valordesconto" class="form-control" />
    </div>

    <div class="col-6 form-group">
        <label for="valormultas">Valor Multas:</label>
        <input type="number" id="valormultas" class="form-control" />
    </div>

    <div class="col-6 form-group">
        <label for="valorjuros">Valor Juros:</label>
        <input type="number" id="valorjuros" class="form-control" />
    </div>

    <div class="col-6 form-group">
        <label for="formaPagamento">Forma de Pagamento</label>
        <select id="formaPagamento" class="form-control">
        </select>
    </div>

    <div class="col-6 form-group">
        <label for="condicaoPagamento">Condição de Pagamento</label>
        <select id="condicaoPagamento" class="form-control">
        </select>
    </div>

    <div class="col-12 form-group">
        <label for="valortotal">Valor Total:</label>
        <input type="text" id="valorTotal" class="form-control" readonly />
    </div>

    <div class="col-12 form-group">
        <button id="btnConfirmarBaixa" class="btn btn-success">Confirmar Baixa</button>
        <button id="btnCancelar" class="btn btn-danger">Cancelar</button>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/BaixaContasPagar.js"></script>
}
