@page
@model www.Pages.EspecialidadeModel
@{
    ViewData["Title"] = "Cadastro de Especialidade";
}

<div class="row">
    <div class="col">
        <h1>
            <button type="button" id="btnPesquisar" class="btn btn-light" onclick="window.location.href='/PesquisaEspecialidade'">
                <img src="~/imagens/procurar.png" alt="Pesquisar" style="width: 20px; height: 20px;">
                Pesquisar
            </button>
            <center>Cadastro de Especialidade</center>
        </h1>
    </div>

    <div class="col-12">
        <div id="success-message" class="alert alert-success" style="display: none;">
            Dados salvos com sucesso!
        </div>

        <div id="inactivate-message" class="alert alert-warning" style="display: none;">
            Especialidade inativada com sucesso!
        </div>
    </div>

    <div class="col-10 form-group">
        <button type="button" id="btnNovo" class="btn btn-success">Novo</button>
        <button type="button" id="btnEditar" class="btn btn-warning">Editar</button>
        <button type="button" id="btnInativar" class="btn btn-danger">Inativar</button>
    </div>

    <div class="col-2 form-group">
        <label for="ddlstatus">Status</label>
        <select id="ddlstatus" class="form-control" disabled>
            <option value="1">Ativo</option>
            <option value="0">Inativo</option>
        </select>
    </div>

    <div class="col-2 form-group">
        <label for="txtid">Código</label>
        <input type="text" id="txtid" value="0" class="form-control" readonly>
    </div>

    <div class="col-10 form-group">
        <label for="txtnome_especialidade">Nome</label>
        <input type="text" id="txtnome_especialidade" placeholder="Insira o nome da especialidade..." class="form-control" maxlength="50">
    </div>

    <div class="col-12 form-group">
        <button type="button" id="btnsalvar" class="btn btn-primary">Salvar</button>
    </div>

    <hr />
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Especialidade.js"></script>
}
