@page
@model www.Pages.HomePageModel
@{
}

<div class="text-center">
    <h1 class="display-4">Olá, Seja Bem Vindo!!</h1>
    <p>Navegue pelo sistema utilizando as funcionalidades disponíveis do menu lateral!</p>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/HomePage.js"></script>
}
