@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/lib/bootstrap/dist/css/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>

    @*Carregamento*@
    <div class="loading d-flex">
        <div class="loading-content">
            <img src="~/imagens/logo_aba.png" alt="Loading">
            <div class="loading-text">Carregando...</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
        </div>
    </div>

    @*Login*@
    <div class="container">
        <div class="login-form">
            <img src="~/css/Logo.png" alt="Logo" class="logo">

            <div class="row">

                <div class="col-12 form-group">
                    <input type="text" id="txtemail" name="username" placeholder="Usuário" maxlength="60" required>
                </div>

                <div class="col-12 form-group">
                    <input type="password" id="txtsenha" name="password" placeholder="Senha" maxlength="10" required>
                </div>

                <div class="forgot-password">
                    <a href="#">Esqueceu a senha? Redefina aqui...</a>
                </div>

                <div class="col-12 form-group">
                    <button type="button" id="btnenviar">Entrar</button>
                </div>

                <div id="error-message" class="alert alert-danger mt-2" style="display: none;"></div>
            </div>

        </div>
        <div class="image-container">
            <img src="/css/Login.png" alt="Imagem ao lado do login"
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login.js"></script>
</body>
</html>
